/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 13, 2024, 2:50:12 PM
    Author     : User
*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
}

.container {
    width: 70%;
    max-width: 1000px;
    margin-bottom: 200px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.containers {
    width: 70%;
    max-width: 1000px;
    margin-bottom: 200px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #2c3e50;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.menu {
    width: 250px;
    height: 100%;
    background-color: #2c3e50;
    padding-top: 20px;
    position: fixed;
    left: 0; /* Change left property to 0 for initial state */
    top: 60px; /* Adjust the top property based on your design */
    transition: left 0.3s ease;
}

.menu a {
    display: block;
    padding: 15px;
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 1px solid #34495e;
    cursor: pointer;
}

.menu a:hover {
    background-color: #34495e;
}

.content {
    padding: 20px;
}

.appointment-content,
.upload-report-content,
.admin-content,
.technician-content{
    display: none;
}

@media screen and (max-width: 768px) {
    .menu {
        left: 0;
    }
}

.appointment-content {
    margin-top: 80px;
    margin-left: 200px;
    padding: 20px;
}

.admin-content{
    margin-top: 80px;
    margin-left: 200px;
    padding: 20px;
   
}

.technician-content{
    margin-top: 80px;
    margin-left: 200px;
    padding: 20px;
}

#report {
    height: 100px; 
}

.test-details-table table {
    border-collapse: collapse;
    width: 100%;
}

.test-details-table th,
.test-details-table td {
    border: 3px solid #ddd;
    padding: 8px;
}

.test-details-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f2f2f2;
}

.appointment-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.appointment-table th, .appointment-table td
.patient-table th , .patient-table td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.appointment-table th,
.patient-table th{
    background-color: #f2f2f2;
}

.appointment-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.patient-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.appointment-table tbody tr:hover {
    background-color: #ddd;
}

.patient-table tbody tr:hover {
    background-color: #ddd;
}
